.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 250px;
    img {
      width: 100%;
      &:last-child {
        display: none;
      }
    }
  }
  &__official {
    @include fonts(500, 12px, #ffffff);
    text-align: center;
    span {
      display: block;
      font-size: 18px;
    }
  }
  &__phone {
    display: block;
    @include fonts(700, 18px, #ffffff);
    text-decoration: none;
    &:hover {
      color: #e8e8e8;
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .header {
    &__logo {
      max-width: 50px;
      img {
        height: 45px;
        width: 45px;
        &:first-child {
          display: none;
        }
        &:last-child {
          display: initial;
        }
      }
    }
    &__official {
      width: 40%;
    }
    &__contacts {
      width: 40%;
    }
  }
}

@media (max-width: 576px) {
  .header {
    flex-wrap: wrap;
    &__official {
      width: auto;
      padding-bottom: 10px;
      span {
        font-size: 16px;
      }
    }
    &__contacts {
      width: 100%;
    }
    &__phone {
      font-size: 16px;
    }
  }
}
